.mainContainer {
    margin: auto;
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    background-color: #1a1d25;
    width: 25%;
}

.title {
    font-size: 2.3rem;
    padding-top: 10%;
    font-weight: 600;
    color: #fff;
}

.mainFormContainer input {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    color: #ffffff;
    background-color: #1a1d25;
    border: 2px solid #ffffff2e;
    border-radius: 5px;
    transition: border-color 0.9s ease;
}
.mainFormContainer input:focus {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    background-color: #1a1d25;
    color: #fff;
    border: 2px solid #fff;
}
.mainFormContainer label {
    font-size: 1.1rem;
    padding-bottom: 7px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.oldPassword {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10%;
    padding-right: 10%;
}

.newPassword {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.confirmNewPassword {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.confirmBt {
    font-size: 1.2rem;
    width: 30%;
    margin-top: 7%;
    margin-bottom: 5%;
    font-family: "Montserrat", sans-serif;
    background-color: #ffcc00;
    border: none;
    color: #1A1D25;
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(255, 204, 0, 0);
    transition: background-color 0.3s ease, box-shadow 0.7s ease, color 0.7s ease;
}

.confirmBt:hover {
    background-color: #ffcc00;
    color: #1A1D25;
    box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
}